# Robustness checks

## Setup

In [ ]:
from simulation import Simulation
from grid_simulation import GridSimulation
import pandas as pd
import os
import pprint
from data_analysis.statistics import produce_df_1samp
from IPython.display import display

## Reliability distributions

Done
- Variance 0.15 and 0.25 for all mean reliabilities, 13 sources and only $10^3$ diverse teams

To do
- Increase to $10^4$ diverse teams?
- Other than equidistant ones? NO

### Simulations

In [4]:
rels = [
    ("equi", rel_mean, 0.15)
    for rel_mean in [0.55, 0.60, 0.65, 0.7, 0.75]]

GridSimulation(
    team_types=["expert", "diverse"],
    n_sources_list=[13],
    reliability_distribution_list=rels,
    n_samples=10**3,
    estimate_sample_size=10**3,
).run()

          team_types  n_sources reliability_distribution  heuristic_size  \
0  [expert, diverse]         13       (equi, 0.55, 0.15)               5
1  [expert, diverse]         13        (equi, 0.6, 0.15)               5
2  [expert, diverse]         13       (equi, 0.65, 0.15)               5
3  [expert, diverse]         13        (equi, 0.7, 0.15)               5
4  [expert, diverse]         13       (equi, 0.75, 0.15)               5

   team_size  n_samples estimate_sample_size
0          9       1000                 None
1          9       1000                 None
2          9       1000                 None
3          9       1000                 None
4          9       1000                 None
Running simulation 0
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.55, 0.15)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 0, dtype: object

100%|██████████| 1001/1001 [05:10<00:00,  3.22it/s]

Running simulation 1
team_types                  [expert, diverse]
n_sources                                  13
reliability_distribution    (equi, 0.6, 0.15)
heuristic_size                              5
team_size                                   9
n_samples                                1000
estimate_sample_size                     None
Name: 1, dtype: object

100%|██████████| 1001/1001 [05:07<00:00,  3.25it/s]

Running simulation 2
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.65, 0.15)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 2, dtype: object

100%|██████████| 1001/1001 [05:05<00:00,  3.28it/s]

Running simulation 3
team_types                  [expert, diverse]
n_sources                                  13
reliability_distribution    (equi, 0.7, 0.15)
heuristic_size                              5
team_size                                   9
n_samples                                1000
estimate_sample_size                     None
Name: 3, dtype: object

100%|██████████| 1001/1001 [05:03<00:00,  3.29it/s]

Running simulation 4
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.75, 0.15)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 4, dtype: object

100%|██████████| 1001/1001 [05:04<00:00,  3.29it/s]

In [24]:
rels = [
    ("equi", rel_mean, 0.25)
    for rel_mean in [0.55, 0.60, 0.65, 0.7, 0.75]]

GridSimulation(
    team_types=["expert", "diverse"],
    n_sources_list=[13],
    reliability_distribution_list=rels,
    n_samples=10**3,
    estimate_sample_size=10**3,
).run()

          team_types  n_sources reliability_distribution  heuristic_size  \
0  [expert, diverse]         13       (equi, 0.55, 0.25)               5
1  [expert, diverse]         13        (equi, 0.6, 0.25)               5
2  [expert, diverse]         13       (equi, 0.65, 0.25)               5
3  [expert, diverse]         13        (equi, 0.7, 0.25)               5
4  [expert, diverse]         13       (equi, 0.75, 0.25)               5

   team_size  n_samples estimate_sample_size
0          9       1000                 None
1          9       1000                 None
2          9       1000                 None
3          9       1000                 None
4          9       1000                 None
Running simulation 0
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.55, 0.25)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 0, dtype: object

100%|██████████| 1001/1001 [05:22<00:00,  3.11it/s]

Running simulation 1
team_types                  [expert, diverse]
n_sources                                  13
reliability_distribution    (equi, 0.6, 0.25)
heuristic_size                              5
team_size                                   9
n_samples                                1000
estimate_sample_size                     None
Name: 1, dtype: object

100%|██████████| 1001/1001 [05:01<00:00,  3.32it/s]

Running simulation 2
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.65, 0.25)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 2, dtype: object

100%|██████████| 1001/1001 [04:58<00:00,  3.35it/s]

Running simulation 3
team_types                  [expert, diverse]
n_sources                                  13
reliability_distribution    (equi, 0.7, 0.25)
heuristic_size                              5
team_size                                   9
n_samples                                1000
estimate_sample_size                     None
Name: 3, dtype: object

100%|██████████| 1001/1001 [04:54<00:00,  3.39it/s]

Running simulation 4
team_types                   [expert, diverse]
n_sources                                   13
reliability_distribution    (equi, 0.75, 0.25)
heuristic_size                               5
team_size                                    9
n_samples                                 1000
estimate_sample_size                      None
Name: 4, dtype: object

100%|██████████| 1001/1001 [04:53<00:00,  3.41it/s]

### Simulation statistics tables

In [55]:
for outcome in ["accuracy", "pool_accuracy", "bounded_pool_accuracy"]:
    print("="*80)
    print(f"{str(outcome).capitalize()}")
    print("="*80)
    for rel_range in [0.15, 0.2, 0.25]:
        df_dummy = produce_df_1samp(outcome=outcome, reliability_range=rel_range)
        print(f"Reliability range: {rel_range}")
        display(df_dummy)
        print("-"*80)

================================================================================
Accuracy
================================================================================
Reliability range: 0.15

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.053,-17.2,0.0,0.866,-0.053829,-0.052896,False,1.000
1,13,0.60,-0.019,-8.5,0.0,0.866,-0.019162,-0.018291,False,1.000
2,13,0.65,0.003,2.4,0.0,0.669,0.003159,0.003749,False,0.794
3,13,0.70,0.014,19.3,0.0,0.866,0.013900,0.014334,False,1.000
4,13,0.75,0.014,45.4,0.0,0.866,0.013983,0.014228,False,1.000

--------------------------------------------------------------------------------
Reliability range: 0.2

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.081,-28.6,0.0000,0.866,-0.080812,-0.080353,False,1.0000
1,13,0.60,-0.043,-21.9,0.0000,0.866,-0.043278,-0.042947,False,1.0000
2,13,0.65,-0.015,-12.1,0.0000,0.866,-0.015336,-0.015087,False,0.9998
3,13,0.70,0.000,0.1,0.1626,0.014,-0.000025,0.000170,False,0.5064
4,13,0.75,0.005,15.3,0.0000,0.863,0.004598,0.004706,False,0.9792
5,17,0.55,-0.083,-31.6,0.0000,0.866,-0.083597,-0.083114,False,1.0000
6,17,0.60,-0.033,-18.2,0.0000,0.866,-0.033286,-0.032955,False,1.0000
7,17,0.65,-0.000,-0.3,0.0000,0.087,-0.000527,-0.000246,False,0.5278
8,17,0.70,0.013,24.9,0.0000,0.866,0.012695,0.012833,False,1.0000
9,17,0.75,0.012,66.8,0.0000,0.866,0.012000,0.012066,False,1.0000

--------------------------------------------------------------------------------
Reliability range: 0.25

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.107,-42.0,0.0,0.866,-0.107793,-0.106581,False,1.000
1,13,0.60,-0.065,-37.3,0.0,0.866,-0.065533,-0.063970,False,1.000
2,13,0.65,-0.033,-30.3,0.0,0.866,-0.033243,-0.032099,False,1.000
3,13,0.70,-0.013,-21.4,0.0,0.866,-0.012919,-0.012130,False,0.999
4,13,0.75,-0.003,-11.7,0.0,0.827,-0.003212,-0.002880,False,0.901

--------------------------------------------------------------------------------
================================================================================
Pool_accuracy
================================================================================
Reliability range: 0.15

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.035,-11.0,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.012,-5.4,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,0.003,2.7,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,0.009,15.0,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,0.008,33.8,NaN,NaN,NaN,NaN,False,NaN

--------------------------------------------------------------------------------
Reliability range: 0.2

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.054,-17.7,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.027,-13.4,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,-0.008,-6.6,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,0.002,2.7,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,0.004,15.8,NaN,NaN,NaN,NaN,False,NaN
5,17,0.55,-0.070,-26.4,NaN,NaN,NaN,NaN,False,NaN
6,17,0.60,-0.026,-15.1,NaN,NaN,NaN,NaN,False,NaN
7,17,0.65,0.001,0.8,NaN,NaN,NaN,NaN,False,NaN
8,17,0.70,0.010,24.7,NaN,NaN,NaN,NaN,False,NaN
9,17,0.75,0.008,66.0,NaN,NaN,NaN,NaN,False,NaN

--------------------------------------------------------------------------------
Reliability range: 0.25

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.072,-25.3,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.041,-22.4,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,-0.018,-17.1,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,-0.005,-9.6,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,-0.000,-0.6,NaN,NaN,NaN,NaN,False,NaN

--------------------------------------------------------------------------------
================================================================================
Bounded_pool_accuracy
================================================================================
Reliability range: 0.15

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.047,-15.1,0.0,0.866,-0.047055,-0.046398,False,1.0
1,13,0.60,-0.007,-3.3,0.0,0.866,-0.007471,-0.007344,False,1.0
2,13,0.65,0.017,12.9,0.0,0.866,0.016680,0.016926,False,1.0
3,13,0.70,0.025,40.2,0.0,0.866,0.025131,0.025291,False,1.0
4,13,0.75,0.021,86.8,0.0,0.866,0.021188,0.021275,False,1.0

--------------------------------------------------------------------------------
Reliability range: 0.2

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.074,-26.4,0.0,0.866,-0.074313,-0.074275,False,1.0000
1,13,0.60,-0.031,-15.9,0.0,0.866,-0.031461,-0.031401,False,1.0000
2,13,0.65,-0.002,-1.8,0.0,0.774,-0.002296,-0.002218,False,0.8677
3,13,0.70,0.011,17.6,0.0,0.866,0.010868,0.010942,False,1.0000
4,13,0.75,0.012,48.7,0.0,0.866,0.011568,0.011606,False,1.0000
5,17,0.55,-0.075,-28.3,0.0,0.866,-0.074956,-0.074850,False,1.0000
6,17,0.60,-0.019,-10.6,0.0,0.866,-0.019429,-0.019241,False,1.0000
7,17,0.65,0.013,13.2,0.0,0.866,0.013334,0.013533,False,0.9992
8,17,0.70,0.023,54.6,0.0,0.866,0.022808,0.022920,False,1.0000
9,17,0.75,0.017,133.2,0.0,0.866,0.017394,0.017447,False,1.0000

--------------------------------------------------------------------------------
Reliability range: 0.25

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.101,-39.6,0.0,0.866,-0.100946,-0.100419,False,1.000
1,13,0.60,-0.053,-30.7,0.0,0.866,-0.053672,-0.053229,False,1.000
2,13,0.65,-0.020,-18.3,0.0,0.866,-0.019945,-0.019562,False,1.000
3,13,0.70,-0.002,-2.9,0.0,0.774,-0.001889,-0.001622,False,0.868
4,13,0.75,0.004,15.7,0.0,0.866,0.003514,0.003650,False,0.999

--------------------------------------------------------------------------------

### Simulation overview results

In [32]:
def display_results_range(outcome: str = "accuracy"):
    data = []
    for rel_range in [0.15, 0.2, 0.25]:
        df_dummy = produce_df_1samp(outcome=outcome, reliability_range=rel_range, perform_bca_ci=False)
        for idx, row in df_dummy.iterrows():
            n_sources = row["n_sources"]
            rel_mean = row["rel_mean"]
            difference = row["difference"]
            data.append([n_sources, rel_mean, rel_range, difference])
    
    df_results = pd.DataFrame(data, columns=["n_sources", "rel_mean", "rel_range", "difference"])
    df_results["effect_percent"] = 100 * df_results["difference"]
    df_results = df_results[df_results["n_sources"] == 13]
    return df_results.pivot(index="rel_mean", columns="rel_range", values="effect_percent")

In [60]:
for outcome in ["accuracy", "pool_accuracy", "bounded_pool_accuracy"]:
    print("="*80)
    print(f"{str(outcome).capitalize()}")
    print("="*80)
    display(display_results_range(outcome))

================================================================================
Accuracy
================================================================================

rel_range  0.15  0.20  0.25
rel_mean
0.55       -5.3  -8.1 -10.7
0.60       -1.9  -4.3  -6.5
0.65        0.3  -1.5  -3.3
0.70        1.4   0.0  -1.3
0.75        1.4   0.5  -0.3

================================================================================
Pool_accuracy
================================================================================

rel_range  0.15  0.20  0.25
rel_mean
0.55       -3.5  -5.4  -7.2
0.60       -1.2  -2.7  -4.1
0.65        0.3  -0.8  -1.8
0.70        0.9   0.2  -0.5
0.75        0.8   0.4  -0.0

================================================================================
Bounded_pool_accuracy
================================================================================

rel_range  0.15  0.20  0.25
rel_mean
0.55       -4.7  -7.4 -10.1
0.60       -0.7  -3.1  -5.3
0.65        1.7  -0.2  -2.0
0.70        2.5   1.1  -0.2
0.75        2.1   1.2   0.4

## Team size

Done:
- Consider team size 3, 5 and 7

### Simulations

In [2]:
rels = [
    ("equi", rel_mean, 0.2)
    for rel_mean in [0.55, 0.60, 0.65, 0.7, 0.75]]

team_size = 3

GridSimulation(
    team_types=["expert", "diverse"],
    n_sources_list=[13],
    reliability_distribution_list=rels,
    team_size=team_size,
    n_samples=10**3,
    estimate_sample_size=10**3,
).run()

          team_types  n_sources reliability_distribution  heuristic_size  \
0  [expert, diverse]         13        (equi, 0.55, 0.2)               5
1  [expert, diverse]         13         (equi, 0.6, 0.2)               5
2  [expert, diverse]         13        (equi, 0.65, 0.2)               5
3  [expert, diverse]         13         (equi, 0.7, 0.2)               5
4  [expert, diverse]         13        (equi, 0.75, 0.2)               5

   team_size  n_samples estimate_sample_size
0          3       1000                 None
1          3       1000                 None
2          3       1000                 None
3          3       1000                 None
4          3       1000                 None
Running simulation 0

100%|██████████| 1001/1001 [03:58<00:00,  4.20it/s]

Running simulation 1

100%|██████████| 1001/1001 [04:35<00:00,  3.63it/s]

Running simulation 2

100%|██████████| 1001/1001 [04:43<00:00,  3.53it/s]

Running simulation 3

100%|██████████| 1001/1001 [04:44<00:00,  3.52it/s]

Running simulation 4

100%|██████████| 1001/1001 [04:36<00:00,  3.61it/s]

In [17]:
team_size = 5

GridSimulation(
    team_types=["expert", "diverse"],
    n_sources_list=[13],
    reliability_distribution_list=rels,
    team_size=team_size,
    n_samples=10**3,
    estimate_sample_size=10**3,
).run()

          team_types  n_sources reliability_distribution  heuristic_size  \
0  [expert, diverse]         13        (equi, 0.55, 0.2)               5
1  [expert, diverse]         13         (equi, 0.6, 0.2)               5
2  [expert, diverse]         13        (equi, 0.65, 0.2)               5
3  [expert, diverse]         13         (equi, 0.7, 0.2)               5
4  [expert, diverse]         13        (equi, 0.75, 0.2)               5

   team_size  n_samples estimate_sample_size
0          5       1000                 None
1          5       1000                 None
2          5       1000                 None
3          5       1000                 None
4          5       1000                 None
Running simulation 0

100%|██████████| 1001/1001 [04:17<00:00,  3.89it/s]

Running simulation 1

100%|██████████| 1001/1001 [04:21<00:00,  3.82it/s]

Running simulation 2

100%|██████████| 1001/1001 [04:18<00:00,  3.88it/s]

Running simulation 3

100%|██████████| 1001/1001 [04:16<00:00,  3.90it/s]

Running simulation 4

100%|██████████| 1001/1001 [04:18<00:00,  3.87it/s]

In [16]:
team_size = 7

GridSimulation(
    team_types=["expert", "diverse"],
    n_sources_list=[13],
    reliability_distribution_list=rels,
    team_size=team_size,
    n_samples=10**3,
    estimate_sample_size=10**3,
).run()

          team_types  n_sources reliability_distribution  heuristic_size  \
0  [expert, diverse]         13        (equi, 0.55, 0.2)               5
1  [expert, diverse]         13         (equi, 0.6, 0.2)               5
2  [expert, diverse]         13        (equi, 0.65, 0.2)               5
3  [expert, diverse]         13         (equi, 0.7, 0.2)               5
4  [expert, diverse]         13        (equi, 0.75, 0.2)               5

   team_size  n_samples estimate_sample_size
0          7       1000                 None
1          7       1000                 None
2          7       1000                 None
3          7       1000                 None
4          7       1000                 None
Running simulation 0

100%|██████████| 1001/1001 [04:47<00:00,  3.48it/s]

Running simulation 1

100%|██████████| 1001/1001 [04:30<00:00,  3.70it/s]

Running simulation 2

100%|██████████| 1001/1001 [04:35<00:00,  3.63it/s]

Running simulation 3

100%|██████████| 1001/1001 [04:44<00:00,  3.52it/s]

Running simulation 4

100%|██████████| 1001/1001 [04:31<00:00,  3.68it/s]

### Simulation statistics tables

In [59]:
for outcome in ["accuracy", "pool_accuracy", "bounded_pool_accuracy"]:
    print("="*80)
    print(f"{str(outcome).capitalize()}")
    print("="*80)
    for team_size in [3, 5, 7]:
        df_dummy = produce_df_1samp(outcome=outcome, team_size=team_size)
        print(f"Team size: {team_size}")
        display(df_dummy)
        print("-"*60)
    print("="*90)

================================================================================
Accuracy
================================================================================
Team size: 3

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.090,-31.6,0.0,0.866,-0.091283,-0.088399,False,1.000
1,13,0.60,-0.059,-29.7,0.0,0.866,-0.059970,-0.057967,False,1.000
2,13,0.65,-0.033,-25.7,0.0,0.866,-0.033727,-0.031484,False,1.000
3,13,0.70,-0.015,-20.6,0.0,0.864,-0.015853,-0.014676,False,0.978
4,13,0.75,-0.006,-17.4,0.0,0.789,-0.006837,-0.005703,False,0.868

------------------------------------------------------------
Team size: 5

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.083,-29.5,0.0,0.866,-0.083773,-0.082584,False,1.000
1,13,0.60,-0.047,-23.8,0.0,0.866,-0.047246,-0.046148,False,1.000
2,13,0.65,-0.019,-15.1,0.0,0.866,-0.019677,-0.018818,False,1.000
3,13,0.70,-0.003,-4.6,0.0,0.754,-0.003614,-0.002829,False,0.831
4,13,0.75,0.002,7.5,0.0,0.770,0.002278,0.002579,False,0.864

------------------------------------------------------------
Team size: 7

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.083,-29.6,0.0,0.866,-0.083727,-0.082442,False,1.000
1,13,0.60,-0.045,-22.8,0.0,0.866,-0.045665,-0.044610,False,1.000
2,13,0.65,-0.017,-13.1,0.0,0.866,-0.017139,-0.016150,False,0.998
3,13,0.70,-0.001,-1.3,0.0,0.225,-0.001157,-0.000640,False,0.580
4,13,0.75,0.004,13.0,0.0,0.837,0.003945,0.004358,False,0.936

------------------------------------------------------------
==========================================================================================
================================================================================
Pool_accuracy
================================================================================
Team size: 3

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.066,-22.7,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.028,-13.9,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,-0.002,-1.6,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,0.009,15.6,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,0.010,42.8,NaN,NaN,NaN,NaN,False,NaN

------------------------------------------------------------
Team size: 5

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.050,-16.2,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.014,-6.5,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,0.009,7.1,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,0.017,28.6,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,0.015,64.2,NaN,NaN,NaN,NaN,False,NaN

------------------------------------------------------------
Team size: 7

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.050,-16.2,NaN,NaN,NaN,NaN,False,NaN
1,13,0.60,-0.014,-6.5,NaN,NaN,NaN,NaN,False,NaN
2,13,0.65,0.009,7.1,NaN,NaN,NaN,NaN,False,NaN
3,13,0.70,0.017,28.6,NaN,NaN,NaN,NaN,False,NaN
4,13,0.75,0.015,64.2,NaN,NaN,NaN,NaN,False,NaN

------------------------------------------------------------
==========================================================================================
================================================================================
Bounded_pool_accuracy
================================================================================
Team size: 3

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.079,-28.0,0.0,0.866,-0.082288,-0.079173,False,1.000
1,13,0.60,-0.042,-21.1,0.0,0.866,-0.044002,-0.041530,False,1.000
2,13,0.65,-0.013,-9.8,0.0,0.808,-0.014126,-0.012038,False,0.891
3,13,0.70,0.002,3.2,0.0,0.223,0.001363,0.002422,False,0.593
4,13,0.75,0.006,19.7,0.0,0.820,0.005357,0.005967,False,0.887

------------------------------------------------------------
Team size: 5

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.073,-25.9,0.0,0.866,-0.073133,-0.073133,False,1.0
1,13,0.60,-0.030,-15.2,0.0,0.866,-0.029876,-0.029876,False,1.0
2,13,0.65,-0.001,-0.6,0.0,0.866,-0.000778,-0.000778,False,1.0
3,13,0.70,0.012,19.8,0.0,0.866,0.011981,0.011981,False,1.0
4,13,0.75,0.012,53.0,0.0,0.866,0.012149,0.012149,False,1.0

------------------------------------------------------------
Team size: 7

,n_sources,rel_mean,difference,error_reduction,p_value,effect_size,ci_low,ci_high,ties,ratio
0,13,0.55,-0.076,-26.8,0.0,0.866,-0.076330,-0.075464,False,1.000
1,13,0.60,-0.032,-16.4,0.0,0.866,-0.033062,-0.032346,False,1.000
2,13,0.65,-0.003,-2.3,0.0,0.641,-0.003349,-0.002520,False,0.785
3,13,0.70,0.011,16.7,0.0,0.866,0.010313,0.010663,False,1.000
4,13,0.75,0.011,46.5,0.0,0.866,0.011363,0.011576,False,1.000

------------------------------------------------------------
==========================================================================================

### Simulation overview results

In [40]:
def display_results_team_size(outcome: str = "accuracy"):
    data = []
    for team_size in [3, 5, 7, 9]:
        df_dummy = produce_df_1samp(outcome=outcome, team_size=team_size, perform_bca_ci=False)
        for idx, row in df_dummy.iterrows():
            n_sources = row["n_sources"]
            rel_mean = row["rel_mean"]
            difference = row["difference"]
            data.append([n_sources, rel_mean, team_size, difference])
    
    df_results = pd.DataFrame(data, columns=["n_sources", "rel_mean", "team_size", "difference"])
    df_results["effect_percent"] = 100 * df_results["difference"]
    df_results = df_results[df_results["n_sources"] == 13]
    return df_results.pivot(index="rel_mean", columns="team_size", values="effect_percent")

In [58]:
for outcome in ["accuracy", "pool_accuracy", "bounded_pool_accuracy"]:
    print("="*80)
    print(f"{str(outcome).capitalize()}")
    print("="*80)
    display(display_results_team_size(outcome))

================================================================================
Accuracy
================================================================================

team_size    3    5    7    9
rel_mean
0.55      -9.0 -8.3 -8.3 -8.1
0.60      -5.9 -4.7 -4.5 -4.3
0.65      -3.3 -1.9 -1.7 -1.5
0.70      -1.5 -0.3 -0.1  0.0
0.75      -0.6  0.2  0.4  0.5

================================================================================
Pool_accuracy
================================================================================

team_size    3    5    7    9
rel_mean
0.55      -6.6 -5.0 -5.0 -5.4
0.60      -2.8 -1.4 -1.4 -2.7
0.65      -0.2  0.9  0.9 -0.8
0.70       0.9  1.7  1.7  0.2
0.75       1.0  1.5  1.5  0.4

================================================================================
Bounded_pool_accuracy
================================================================================

team_size    3    5    7    9
rel_mean
0.55      -7.9 -7.3 -7.6 -7.4
0.60      -4.2 -3.0 -3.2 -3.1
0.65      -1.3 -0.1 -0.3 -0.2
0.70       0.2  1.2  1.1  1.1
0.75       0.6  1.2  1.1  1.2

## Number of sources

To do:
- Consider 21 sources.

Issue:
- It seems like `pool_accuracy` and `bounded_pool_accuracy` both perform exact calculations.